# Node
node_modules/
dist/

# Angular
.angular/

# Terraform
infrastructure/terraform/aws/.terraform/
infrastructure/terraform/aws/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test reports
TEST*.xml
