<main class="page cv-page">
  <section class="portfolio-block cv">
    <div style="text-align:center;">
      <h2 class="divider-style"><span><span style="font-weight: normal !important;">Admin</span></span></h2>
    </div>
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Messages</th>
          <th scope="col">Logged date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of tickets; let i=index">
          <td>{{ticket.name}}</td>
          <td>{{ticket.email}}</td>
          <td>{{ticket.message}}</td>
          <td>{{ticket.currentDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
