<main class="page cv-page">
  <section class="portfolio-block cv">
    <div style="text-align:center;">
      <h2 class="divider-style"><span><span style="font-weight: normal !important;">About Me</span></span></h2>
    </div>
    <div class="container">
      <div class="work-experience group">
        <div class="heading">
          <div class="heading">
            <h2 class="text-center">Experience</h2>
          </div>
        </div>
        <div class="item" *ngFor="let experience of resume.Experience; let i=index">
          <div class="row">
            <div class="col-md-6">
              <h3>{{experience.title}}</h3>
              <h4 class="organization">{{experience.company}}</h4>
            </div>
            <div class="col-md-6"><span class="period">{{experience.duration}}</span></div>
          </div>
          <p class="text-muted">{{experience.description}}</p>
        </div>
      </div>
      <div class="education group">
        <div class="heading">
          <h2 class="text-center">Education</h2>
        </div>
        <div class="item" *ngFor="let education of resume.Education; let i=index">
          <div class="row">
            <div class="col-md-6">
              <h3>{{education.degree}}</h3>
              <h4 class="organization">{{education.school}}</h4>
            </div>
            <div class="col-6"><span class="period">{{education.duration}}</span></div>
          </div>
          <p class="text-muted"></p>
        </div>
      </div>
      <div class="group">
        <div class="row">
          <div class="col-md-6">
            <div class="skills portfolio-info-card">
              <h2>Skills</h2>
              <div *ngFor="let skill of resume.Skills; let i=index">
                <h3>{{skill.language}}</h3>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:{{skill.proficiency}}%" aria-valuenow="{{skill.proficiency}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-info portfolio-info-card">
              <h2>Contact Info</h2>
              <div class="row">
                <div class="col-1"><i class="icon ion-person icon"></i></div>
                <div class="col-9"><span>{{resume.Contact.name}}</span></div>
              </div>
              <div class="row">
                <div class="col-1"><i class="icon ion-at icon"></i></div>
                <div class="col-9"><span>{{resume.Contact.email}}</span></div>
              </div>
              <div class="row">
                <div class="col-1"><i class="icon ion-social-linkedin"></i></div>
                <div class="col-9"><span><a href="{{resume.Contact.linkedin}}" target="_blank">LinkedIn</a></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hobbies group">
        <div class="heading">
          <h2 class="text-center">Hobbies</h2>
        </div>
        <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus ligula, iaculis ut metus sit amet, luctus pharetra mauris. Aliquam purus felis, pretium vel pretium vitae, dapibus sodales ante. Suspendisse potenti. Duis nunc eros.</p>
      </div>
    </div>
  </section>
</main>
